<!DOCTYPE html>
<html>
    <head>
        <title>Rectangle Sample</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://cdn.rawgit.com/konvajs/konva/0.11.1/konva.min.js"></script>
	<style>
		body{
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #F0F0F0;
		}
	
		#demo{
			width: 200px;
			height: 100px;
			border: 1px solid black;
		}
	</style>
	<meta charset="utf-8"/>
    </head>
    <body>
	<div id="container"></div>
	<div id="demo" onmousemove="showCoords(event)"></div>	
	<script>

		//Gets coordinates of mouse//	
		function showCoords(event){
			var x = event.clientX;
			var y = event.clientY;
			var coords = "X coords: " + x + ", Y coords: " + y;
			document.getElementById("demo").innerHTML = coords;
		}
		/*	
		var width = window.innerWidth;
		var height = window.innerHeight;

		var stage = new Konva.Stage({
			container: 'container',
			width: 200px,
			height: 300px
		});

		var layer = new Konva.Layer();

		var rect = new Konva.Rect({
			x: 50,
			y: 50,
			width: 100,
			height: 50,
			fill: 'blue',
			stroke: 'black',
			strokeWidth: 2
		});

		layer.add(rect);

		stage.add(layer);
		*/
	</script>
    </body>	
</html>
